<div class="row">
  <% @categories.each  do |category| %>
  <div class="col-md-4 mb-2">
        <a href="#" class="btn btn-info btn-block">
          <%=  category.name  %>
        </a>
  </div>
  <%  end %>
</div>
