<h3><%= @category.name %></h3>

<% if @category.sub_categories.any? %>
  <hr />
  <div>

    <% for item in @category.sub_categories %>
  
            <%= link_to item.name, catalog_path(item), :class => "btn btn-link" %> |

    <% end %>
  <% end %>

</div>
<% if @category.brands.any? %>
<hr />
<table class="table">
  <tr>
    <th>Brand Name</th>
    
  </tr>
  <% @category.brands.each do |brand| %>
  <tr>
    <td>
          <%= link_to brand.name, catalog_brand_path(@category, brand) %>

    </td>
    
  </tr>
  <% end %>
</table>

  <% else %>
    <div class="alert">
      No Data found
    </div>
  <% end %>


